body {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}
.image-container {
position: relative;
width: 40vmin;
height: 56vmin;
}

.image-text {
position: absolute;
bottom: 0;
left: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.5);
color: white;
padding: 1rem;
font-size: 1.2rem;
text-align: center;
}
button{
width: 40vmin;
height: 56vmin;
font-size: 100;
color: rgb(0, 0, 0);
text-decoration: none;
}
a:link{
text-decoration: none;
color: rgb(0, 0, 0);

}
a:visited{
text-decoration: none;
color: rgb(0, 0, 0);
}
a:hover{

text-decoration: none;
color: rgb(0, 0, 0);

}
a:active{
text-decoration: none;
color: rgb(0, 0, 0);

}